


/* general styles */

html {
    font-size: 12px;
}

@media (min-width: 50rem) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #f6f7f8;
}

h2 {
    margin:0 0 1rem 0;
    padding:0;
    color:#a566ff;
}

i.fa {
    font-size:.8rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}



/* Header and Footer styles */

.header-bar, .footer-bar {
    background-color:#FFF;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,.1);
    padding: 1rem;
}

.header-bar {
    margin-bottom:1rem;
}

.footer-bar {
    margin-top:1rem;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.grid-header .logo {
    grid-area: logo;
}

.grid-header .logo img,
.grid-footer .logo img {
    vertical-align: top;
    height: 3.75rem;
    margin: 0;
    padding: 0;
}

.grid-header .title {
    grid-area: title;
    text-align: right;
}

.grid-header .title h1 {
    font-size: 1rem;
    margin:0;
    padding:0;
}

.grid-header .navigation {
    grid-area: navigation;
}

.grid-header .navigation ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding:0;
    margin:0;
    list-style: none;
}

.grid-header .navigation ul li {
    padding:0;
    margin:0;
}

.grid-header .navigation ul li a {
    display: block;
    text-align: center;
    border-bottom: 1px solid #f6f7f8;
    font-weight: bold;
}

.grid-header .navigation ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #a566ff;
}

.grid-header {
    grid-template-areas:
        'logo title'
        'navigation navigation';
    align-items:center;
}

@media (min-width:50rem) {
    .grid-header {
        grid-template-areas:
            'logo navigation title';
    }
}

.grid-footer {
    grid-template-columns: 1fr 1fr;
}

.grid-footer .credits {
    text-align: right;
}

















div.metrics-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
    margin: 0 0 20px 0;
}



.block {
    background-color: #FFF;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px rgba(0,0,0,.1);
}

div.metrics-container .block {
    width:520px;
    min-width: 300px;
}

div.distribution-container {
    margin: 0 0 20px 0;
}

div.wallets-container {
    margin: 0 0 20px 0;
}

div.distribution-container table,
div.wallets-container table {
    width: 100%;
}

th {
    background-color:#a566ff;
    color:#FFF;
    text-align: left;
    font-size: 20px;
    padding:5px 10px;
}

td {
    padding:5px 10px;
    background-color:#f6f7f8;
}

.distribution-container .block td:nth-child(3),
.distribution-container .block td:nth-child(4),
.distribution-container .block td:nth-child(5),
.distribution-container .block td.monospace {
    font-family: monospace;
    text-align: right;
}

.monospace {
    font-family: monospace;
}

.text-right {
    text-align: right;
}

.metrics-container .block td {
    background: none;
}

.metrics-container .block td:first-child {
    font-weight: bold;
    padding: 0 20px 0 0;
}

.metrics-container .block td:nth-child(2) {
    text-align: right;
    padding:0;
    font-family: monospace;
}



