

/*----------------*/
/* GENERAL STYLES */
/*----------------*/

html {
    font-size: 12px;
}

@media (min-width: 50rem) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #f8fafb;
    color: #452E66;
}

h1,h2 {
    margin:0 0 1rem 0;
    padding:0;
    color:#a566ff;
}

i.fa {
    font-size:.8rem;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table {
    width:100%;
}


/*--------------------------*/
/* HEADER AND FOOTER STYLES */
/*--------------------------*/

.header-bar, .footer-bar {
    background-color:#FFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 8%);
    padding: 1.5rem;
}

.header-bar {
    /*margin-bottom:1.5rem;*/
    position:relative;
    z-index: 10;
}

.footer-bar {
    margin-top:1rem;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.grid-header {
    grid-template-columns: 1fr 2fr;
}

.grid-header .logo {
    grid-area: logo;
    text-align: center;
}

.grid-header .logo img,
.grid-footer .logo img {
    vertical-align: top;
    height: 3.125rem;
    margin: 0;
    padding: 0;
}

.grid-header .navigation {
    grid-area: navigation;
}

.grid-header .navigation ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding:0;
    margin:0;
    list-style: none;
}

.grid-header .navigation ul li {
    padding:0;
    margin:0;
}

.grid-header .navigation ul li a {
    display: block;
    text-align: center;
    border-bottom: 1px solid #f6f7f8;
    font-weight: bold;
}

.grid-header .navigation ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #a566ff;
}

.grid-header {
    grid-template-areas:
        'logo'
        'navigation';
    align-items:center;
}

@media (min-width:50rem) {
    .grid-header {
        grid-template-areas:
            'logo navigation';
    }

    .grid-header .logo {
        text-align: left;
    }
}

.grid-footer {
    grid-template-columns: 1fr 1fr;
}

.grid-footer .credits {
    text-align: right;
}

















div.top-banner {
    background-color: #452E66;
    margin-bottom:1.5rem;
    padding:1.5rem;
    position:relative;
    z-index: 5;
    color:#FFF;
}


div#address-title {grid-area: address_title;}
div#address-balance{grid-area: address_balance;}

div.top-banner .address-details {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:    "address_title address_balance";
}



div#ga_section_title {grid-area: section_title;}
div#ga_last_price {grid-area: last_price;}
div#ga_24h_pchange {grid-area: price_change;}
div#ga_24h_volume {grid-area: volume;}
div#ga_24h_vchange {grid-area: volume_change;}
div#ga_market_cap {grid-area: market_cap;}
div#ga_fd_market_cap {grid-area: fd_market_cap;}

div.top-banner .market-details {
    grid-template-columns: repeat(3, 1fr);
    font-size: .8rem;
    grid-template-areas:    "section_title section_title section_title"
                            "last_price market_cap fd_market_cap"
                            "price_change volume volume_change";
}

div.top-banner .pb_title {
    font-family: Helvetica, sans-serif;
    white-space: nowrap;
    line-height: 1rem;
    color:#f5f7f9;
}

div.top-banner .pb_value {
    font-family: monospace;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1rem;
}


span.address_category {
    display: inline-block;
    line-height: .75rem;
    font-size: .75rem;
    padding: .2rem;
    margin-left: .2rem;
    border-radius: .2rem;
    vertical-align: top;
    background-color: #a566ff;
    color: #ffffff;
}

div.top-banner h2, div.top-banner h1 {
    color: #f5f7f9;
    margin:0;
    line-height: 1rem;
    font-size: 1rem;
}

@media (min-width:76rem) {
    div.top-banner h2, div.top-banner h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (min-width:60rem) {
    div.market-details h2, div.market-details h1 {
        line-height: 2rem;
    }
    div.top-banner .market-details {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:    "section_title last_price price_change volume volume_change market_cap fd_market_cap";
    }
}



.normal {
    font-weight: normal;
}




div #ga_supply {grid-area: supply;}
div #ga_exchanges {grid-area: exchanges;}
div #ga_staking {grid-area: staking;}
div #ga_validators {grid-area: validators;}
div #ga_bridged {grid-area: bridged;}

div.metrics {
    margin-bottom:1.5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:    "supply"
                            "exchanges"
                            "staking"
                            "validators"
                            "bridged";
}

@media (min-width:50rem) {
    div.metrics {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:    "supply exchanges"
                                "staking bridged"
                                "validators validators";
    }
}

@media (min-width:76rem) {
    div.metrics {
        grid-template-columns: 3fr 2fr 2fr 2fr;
        grid-template-areas:    "supply exchanges staking bridged"
                                "supply exchanges validators validators";
    }
}








div.metrics-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:20px;
    margin: 0 0 20px 0;
}





.dataTables_wrapper .dataTables_filter {
    float:none;
    text-align: left;
    margin-bottom:1rem;
}

div.dataTables_filter label {
    font-weight: bold;

}





.block {
    background-color: #FFF;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 6%);
}

.block.address_from {
    margin-bottom: 1.5rem;
}

div.metrics-container .block {
    width:520px;
    min-width: 300px;
}

div.distribution-container {
    margin: 0 0 20px 0;
}

div.wallets-container {
    margin: 0 0 20px 0;
}

div.distribution-container table,
div.wallets-container table {
    width: 100%;
}

table.show-table th {
    background-color:#452E66;
    color:#FFF;
    text-align: left;
    font-size: 1.2rem;
    padding:5px 10px;
}

table.show-table thead th {
    white-space: nowrap;
}

table.show-table th.text-right {
    text-align: right;
}

table.show-table td {
    padding:5px 10px;
    background-color:#f6f7f8;
}

td.monospace,
th.monospace {
    font-family: monospace;
    text-align: right;
}

.monospace {
    font-family: monospace;
}

.monospace.left {
    text-align: left;
}

span.note {
    font-weight: normal;
    font-size: 1rem;
}

td.column-title {
    font-weight: bold;
}

td.right {
    text-align: right;
}

.metrics-container .block td {
    background: none;
}

td.row-title {
    font-weight: bold;
    padding: 0 20px 0 0;
}

td.row-subtitle {
    font-weight: normal;
    padding: 0 20px 0 20px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

th {
    vertical-align: top;
}


